@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* /https://www.w3schools.com/css/css_templates.asp  -- Site de Refencia para a Navbar
    https://getbootstrap.com/docs/5.3/examples/headers/ -- Site de Refencia para a Navbar
*/


body {
    background-color: azure;
    font-family: "Sora", sans-serif;
}

nav {
    color: blue;
    text-align: center;
    font-size: larger;
    font-weight: 500;
}

section {
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

header img.logo {
    height: 40px; 
    width: auto;  
}

.nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    height: 60px;
}

.nav-link {
    color: #bd0000;
    font-weight: 500;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    text-align: center;
}

.nav-link.active {
    background-color: red;
    color: white;
    transform: scale(1.1);
}

.nav-link:hover {
    background-color: #f1f3f5;
    color: red;
    transform: scale(1.05);
}

.nav-link:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}







